
spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true # tüm servisleri aç dıyorum
              filters:
                - StripPrefix=1
  application:
    name: api-gateway

server:
  port: 5697

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: false

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

jwt:
  secret: ${SPRING_JWT_SECRET}