spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              filters:
                - StripPrefix=1

server:
  port: 0

eureka:
  instance:
    ip-address: true;
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: false

jwt:
  secret: ${SPRING_JWT_SECRET}