spring:
  application:
    name: user-service
  datasource:
    url: ${POSTGRES_USER}
    username: ${SPRİNG_DATASOURCE_USERNAME}
    password: ${SPRİNG_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

jwt:
  secret: ${SPRING_JWT_SECRET}

server:
  port: 0

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans