spring:
  application:
    name: product-service
  datasource:
    url: ${SPRİNG_DATASOURCE_URL}
    username: ${SPRİNG_DATASOURCE_USERNAME}
    password: ${SPRİNG_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 0

eureka:
  instance:
    ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
