spring:
  application:
    name: inventory-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

server:
  port: 8084

eureka:
  instance:
    ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/