services:
  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5447:5432

  redis:
    image: redis:7
    container_name: some-redis
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379

volumes:
  pgdata:
  redis_data:
